// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
	padding-top: $spacing;
	padding-bottom: $spacing;
	height: 10rem;
	display: flex;
	align-items: center;
}

.nav {
	&__main-menu {
		display: flex;
		@include screen__lt-md {
			display: none;
		}
	}
	&__item {
		margin-left: 2rem;
		a {
			align-self: center;
			padding: 2rem;
			color: $color__text;
			text-decoration: none;
		}
		.button {
			color: $color__white;
			padding: 1.2rem 2rem;
		}
	}
	&__burger {
		display: none;
		@include screen__lt-md {
			display: block;
		}
	}	
	&__drop-down {
		display: none;
	}
	&__mobile-menu {
    flex-direction: column;
    .modal__container {
    	height: 100%;
			width: 100%;
    }
    .nav__item {
    	margin-left: 0;
    	a {
    		padding: 2rem 0;
    		display: block;
    	}
    }
	}
}

.nav__mobile-menu {
	&.active {
		display: flex;
		height: 100%;
	}
}

#modal-nav-mobile-menu {
	.modal__container {
		height: 100%;
		max-width: 100%;
	}
}