/**
 * Basic typography style for copy text
 */
body {
  color: $color__text;
  font: normal $base__main-font-size $font-stack__text;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $spacing__small;
	font-weight: bold;
	color: $color__black;
}

$heading-sizes: (
	h1 : 5rem,
	h2 : 4rem,
	h3 : 3rem,
	h4 : 2.4rem,
	h5 : 2.1rem,
	h6 : 1.8rem
);

@mixin font-size__mobile($size) {
	@include screen__lt-sm {
		font-size: 0.8 * $size;
	}
}

@mixin font-size__title($size) {
	font-size: 1.3 * $size;
}

@each $heading,$size in $heading-sizes {
  #{$heading} {
    font-size: $size;
    &.title {
    	@include font-size__title($size);
    }
    @include font-size__mobile($size);
  }
}

p {
	font-size: $base__main-font-size;
	margin-bottom: $spacing__small;
}

.small {
	font-size: $base__main-font-size * 0.8;
}

.extra-small {
	font-size: $base__main-font-size * 0.6;
}